* {
	margin: 0;
	padding: 0;
}
body {
	font-family: 'Poppins', sans-serif;
	color:white;
	background-color:#032126;
}
.wrapper {
	width: 1170px;
	margin: auto;
}
header {
	/*background: linear-gradient(rgba(107, 122, 192, 0.8), rgba(0, 0, 0, 0.8));*/
    background-image: url(./img/fpg.jpg);
	height: 100vh !important;
	/*-webkit-background-size: cover;*/
	background-size: cover;
    background-color: #000000;
	background-position: center center;
	position: relative;
}
.nav-area {
	float: right;
	list-style: none;
	margin-top: 30px;
}
.nav-area li {
	display: inline-block;
}
.nav-area li a {
	color: rgb(255, 255, 255);
	text-decoration: none;
	padding: 5px 20px;
	font-family: poppins;
	font-size: 16px;
	text-transform: uppercase;
}
.nav-area li a:hover {
	background: #fff;
	color: #333;
}
.logo {
	float: left;
	padding-right: 60px !important;
}
.logo img {
	width: 50%;
	padding-right: 4rem !important;
	padding: 15px 0;
	transform: translate(-150px);
}
.welcome-text {
	position: absolute;
	width: 600px;
	height: 300px;
	margin: 20% 30%;
	text-align: center;
}
.welcome-text h1 {
	text-align: center;
	color: rgb(255, 255, 255);
	/*text-transform: uppercase;*/
	font-size: 60px;
}
.welcome-text h1 span {
	color: #ffffff;
}
.welcome-text a {
	border: 1px solid rgb(255, 255, 255);
	padding: 10px 25px;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 14px;
	margin-top: 20px;
	display: inline-block;
	color: #fff;
}
.welcome-text a:hover {
	background: #fff;
	color: rgb(15, 15, 15);
}
/*resposive*/

@media (max-width:600px) {
	.wrapper {
		width: 100%;
	}
	.logo {
		float: none;
		width: 50%;
		text-align: center;
		margin: auto;
	}
	img {
		width: auto;

	}
	.nav-area {
		float: none;
		margin-top: 0;
	}
	.nav-area li a {
		padding: 5px;
		font-size: 11px;
	}
	.nav-area {
		text-align: center;
	}
	.welcome-text {
		width: 100%;
		height: auto;
		margin: 30% 0;
	}
	.welcome-text h1 {
		font-size: 30px;
	}
}
.about-section{
	padding-top: 40px;
}
.about-content{
	text-align: center;
}
.about-header{
	padding-bottom: 20px;
}


#logo_img{
margin-right: 50px;
align-items:flex-start;

}



.m1{
	display: flex;
  flex-direction: row;
	padding-top:20px;

}
.m__left{
	padding-bottom: 10rem;
	padding-left:  100px;
	width: 150%;
	align-items: center;
	align-content:space-between;

}
.abt__us{
	align-items: center;
	padding-left: 100px;
	padding-bottom: 25px;
	text-align: center;
}
.abt__us__content{
	padding-right: 50px;
	padding-left:50px;
		margin-right: 50px;
}
.m__right{
	margin-right: 50px;
	/*padding-right:  50px;*/
	width: 100%;

}

.image-r{
	text-align: center;
	padding-left: 200px;
}

.fancy {
  line-height: 0.45;
  text-align: center;
	padding-top:20px;
}
.fancy span {
  display: inline-block;
  position: relative;
}
.fancy span:before,
.fancy span:after {
  content: "";
  position: absolute;
  height: 5px;
  border-bottom: 1px solid #4aedea;
  border-top: 1px solid #4aedea;
  top: 0;
  width: 600px;
}
.fancy span:before {
  right: 100%;
  margin-right: 10px;
}
.fancy span:after {
  left: 100%;
  margin-left: 10px;
}


.header {
	background-color: #f1f1f1;
	padding: 30px;
	text-align: center;
  }

  #navbar {
	overflow: hidden;
	background-color: #333;
  }

  #navbar a {
	float: right;
	display: block;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
  }

  #navbar a:hover {
	background-color: #ddd;
	color: black;
  }

  #navbar a.active {
	background-color: #04AA6D;
	color: white;
  }

  .content {
	padding: 16px;
  }

  .sticky {
	position: fixed;
	top: 0;
	width: 100%;
  }

  .sticky + .content {
	padding-top: 60px;
  }


  @import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
  #wname{
	font-family: 'Anton', sans-serif , monospace;
	/*text-transform: lowercase;*/

  }
  #tagline{
	font-family: 'Lobster', cursive;
	font-size: 20px;
	color: rgb(212, 212, 212);
  }


.x-colophon.bottom .x-colophon-content {
    margin: 20px 20px;
    letter-spacing: 1px;
    opacity: 1;
		text-align: center;
}


.head__1{
padding-right: 50px;
}
.page-footer{
	background-color:#111111;
}
.container{
padding-bottom: -100px;
height: 80px;
}

.project-display{
	margin:10px;
	padding:20px;
}

.scrolltop {
  position: fixed;
  bottom: 70px;
  right: 40px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #fff;
  display: none;
}
.scrolltop .icon {
  font-size: 30px;
  text-align: center;
  padding-bottom: 20px;
  transform: translate(0%, -17.5%);
  margin-top: 10px;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
}